body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#nav {
    background-color: #107ADD;
    border: 0.5px solid #107ADD;
    border-radius: 6px;
}

#white {
    color: white;
}

#leftnav1 {
    color: #e6dfdfcc;
    text-decoration: none;
    padding: 7px;
}

#leftnav2 {
    color: #e6dfdfcc;
    text-decoration: none;
    padding: 7px;
}

.rightnav {
    float: right;
    padding: 5px;
    color: #e6dfdfcc;
    margin-right: 6px;
    text-decoration: none;
}

.project-container {
    margin: 10%;
    display: flex;
    justify-content: space-between;
}

.project {
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
    width: 23%;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: #E1E2E3;
}

.author {
    color: grey;
}

.tag {
    color: cornflowerblue;
}

h3 {
    color: #0073B5;
}

#label {
    color: white;
    text-decoration: none;
}

#welcome {
    background-color: #E1E2E3;
    box-sizing: border-box;
    width: 80%;
    padding: 80px;
    margin: 13px auto -40px auto;
    display: flexbox;
}

#started {
    background-color: #0073B5;
    color: white;
    border-radius: 5px;
    border-color: #0073B5;
    border-style: solid;
    border-width: 1px;
    padding: 9px;
}

.starts {
    background-color: #0073B5;
    color: white;
    border-radius: 5px;
    border-color: #0073B5;
    border-style: solid;
    border-width: 1px;
    padding: 9px;
}

#login {
    background-color: gray;
    color: white;
    border-radius: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    padding: 9px;
}

#update {
    text-transform: capitalize;
    font-size: 20px;
}

#hrmargin {
    margin-top: -12px;
}

#margin {
    margin: 43px 0 17px 200px;
}

#style {
    margin-left: 140px;
    margin-top: 40px;
}

#larger {
    font-size: larger;
}

#px {
    margin-top: 50px;
}

#proj4 {
    margin-left: 87px;
    margin-top: 50px;
}

#bola {
    padding-top: 10px;
    border: 1px solid #d8d8d8;
    margin: 10px auto 0px auto;
    padding: 10px;
    height: 36px;
    margin-top: 0px;
    border-top-style: none;
}

#henry {
    padding-top: 10px;
    border: 1px solid #d8d8d8;
    margin: 5px auto 0px auto;
    padding: 10px;
    height: 36px;
    margin-top: -10px;
}

#yaml {
    padding-top: 10px;
    border: 1px solid #d8d8d8;
    margin: 10px auto 0px auto;
    padding: 10px; height: 36px;
    margin-top: 0px;
    border-top-style: none;
    background-color: #ececec;
}

#lorem {
    margin-left: 0;
}

#uploded {
    padding-top: 10px;
}

#auth {
    color: black;
    background-color: #ececec;
    padding: 13px;
    border: 1px solid #d8d8d8;
    margin-top: 28px;
    margin-bottom: 9px;
}

#search {
    border-radius: 3px;
    border-style: solid;
    border-color: white;
    padding: 5px;
}

#go {
    background-color: transparent;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    padding: 6px;
}

#bottom-right {
    background-color: #f0f1f3;
    width: 80%;
    float: right;
    margin-right: 10%;
    border: 0.5px solid #f0f1f3;
    border-radius: 6px;
}

#bottom-text {
    text-align: right;
    color: #b6b6b6;
}

#edconnect {
    color: black;
    margin-right: 15px;
}

#login-body {
    background-color: transparent;
    box-sizing: border-box;
    width: 80%;
    padding: 10px;
    margin: 13px 40px 0px auto;
    display: flexbox;
}

#email {
    border-radius: 3px;
    border-style: solid;
    border-color: #f0f1f3;
    padding: 5px;
    width: 40%;
}

#test-name {
    color: black;
    font-size: 27px;
    text-transform: capitalize;
}

#topbar {
    max-width: 1100px;
    background-color: #ececec;
    margin: 10px auto 0px auto;
    padding: 5px 30px;
    display: flex;
    border-radius: 7px;
}

.viewbar {
    max-width: 1100px;
    background-color: #ececec;
    margin: 10px auto 0px auto;
    padding: 5px 30px;
    display: flex;
    border-radius: 7px;
}

#id {
    margin-top: 15px;
    height: 40px;
}

.top {
    margin-left: 83px;
}
/*register*/
.topbar-content {
    flex: 1;
}

.tab {
    border-radius: 3px;
    border: 1px solid #ececec;
    padding: 7px;
    width: 60%;
    margin-top: 5px;
}

.profile-content {
    display: flex;
    margin: 20px auto 0px auto;
    padding: 10px 30px;
}

.profile-row1, .profile-row2 {
    flex: 2;
    margin-right: -20px;
}

.profile-row1 {
    margin-left: 150px;
}

.profile-row2 {
    margin-left: -200px;
}

.smalltab {
    display: flex;
    border-radius: 5px;
    border: 1px solid #ececec;
    padding: 7px;
    width: 20%;
    margin-top: 5px;
}

.register-page {
    margin-left: 180px;
}

.grad {
    margin-left: 190px;
    margin-top: -72px;
}

#change-password {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 10px auto 0px auto;
    padding: 5px 30px;
    border-radius: 7px;
}

.tab2 {
    flex: 1;
    border-radius: 5px;
    border: 1px solid #ececec;
    padding: 7px;
    margin-top: 5px;
    width: 200px;
}

.pass {
    margin: 20px auto 9px 62px;
}

#search-page-nav {
    border-radius: 5px;
    border: 1px solid #E1E2E3;
    padding: 9px;
    width: 500px;
}

#search-page {
    background-color: #f4f5f7;
    box-sizing: border-box;
    border-radius: 2px;
    width: 63%;
    padding: 13px;
    margin: auto 0 auto 200px;
}

.text {
    margin-top: -5px;
}

#submit-proj {
    margin-left: 450px;
    margin-top: 60px;
}

.edit {
    max-width: 1100px;
    margin: 40px auto 0 auto;
    display: flex;
    align-items: flex-start;
}

#edit1, .edit2 {
    padding: 10px;
    margin-bottom: 10px;
    flex: 1;
    margin-right: 20px;
}

#project-files {
    background-color: #ececec;
    padding: 13px;
    border: 1px solid #d8d8d8;
    margin-top: 28px;
    margin-bottom: 9px;
}

.click {
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    padding: 0px;
    margin: 2px -1px -1px 0px;
    width: 100%;
    height: 26px;
}

#no-file {
    border: 1px solid #d8d8d8;
    margin: 10px auto 0px auto;
    padding: 10px;
    height: 36px;
    text-align: center;
    margin-top: -10px;
}

#browse {
    background-color: #ececec;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    margin-top: 2px;
    padding: 9px;
}

#line1, #line2 {
    display: flex;
}

#blue {
    padding: 7px;
}

.change {
    text-transform: capitalize;
    font-size: 20px;
}

.style {
    margin-top: -12px;
    color: #eeeff0;
}

.reg {
    background-color: #0073B5;
    color: white;
    border-radius: 5px;
    border-color: #0073B5;
    border-style: solid;
    border-width: 1px;
    padding: 9px;
    margin-left: 180px;
}

.abstract {
    margin-top: 2px;
    margin-left: 10px;
    padding: 12px;
    border-radius: 3px;
    border: 1px solid #E1E2E3;
    position: relative;
    z-index: 5;
    background-color: #f7f7f7;
    height: 7px;
    border-right-style: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.width {
    width: 90px;
    position: relative;
    z-index: 2;
    margin-left: -1px;
    margin-top: 2px;
    border-left-style: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.box {
    float: right;
    margin-top: -34px;
    margin-right: 22px;
}

.marg9 {
    margin-bottom: 9px;
}

.marg8 {
    margin-bottom: 8px;
}

.place {
    border-radius: 5px;
    border: 1px solid #ececec;
    padding: 7px;
    width: 51%;
    margin-top: 5px;
}

.place1 {
    border-radius: 5px;
    border: 1px solid #ececec;
    padding: 7px;
    margin-top: 5px;
}

.a {
    margin-left: 0;
}

.nofile {
    padding-top: 10px;
}

.save {
    margin-left: 130px;
    margin-top: -10px;
}

.pro {
    color: black;
}

.wide {
    width: 97%;
}

.classp {
    margin-left: 89px;
    margin-top: 35px;
}

.styler {
    margin-top: 11px;
}

#clicker {
    border: 1px solid #eee;
    padding: 2px;
    padding-top: 2px;
    height: 28px;
    border-radius: .30rem;
    display: block;
}

.file {
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 2.5rem;
    box-sizing: border-box;
}

#file {
    /* min-width: 14rem; */
    /* margin: 0; */
    filter: alpha(opacity=0);
    /* opacity: 0; */
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    height: 30px;
    /* padding: .5rem 1rem; */
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    border: .075rem solid #ddd;
    border-radius: 2px;
    box-shadow: inset 0 0.2rem 0.4rem rgba(0,0,0,.05);
    opacity: 0;
}

.file-custom:before {
    position: absolute;
    margin-right: -315px;
    margin-bottom: 11px;
    right: -.075rem;
    bottom: -0.075rem;
    z-index: 6;
    display: block;
    content: "Browse";
    height: 15px;
    padding: 7.5px 10px;
    line-height: 20px;
    background-color: #eee;
    border: 2px solid #ddd;
    border-radius: 0 .25rem .25rem 0;
}

.file-custom:after {
    content: "Click to open file browser";
}